name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Configure Docker Java
        run: |
          mkdir -p src/test/resources
          # Задаем конкретный транспорт и версию API
          echo "transport.type=httpclient5" > src/test/resources/docker-java.properties
          echo "apiVersion=1.44" >> src/test/resources/docker-java.properties
          
          # Отключаем проверки Testcontainers, которые могут шуметь
          echo "checks.disable=true" > ~/.testcontainers.properties

      - name: Build and Test
        run: mvn -B clean verify -Dtestcontainers.ryuk.disabled=true
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

      - name: Login to DockerHub
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            danil0ss/user-service:latest
            danil0ss/user-service:${{ github.sha }}