name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    name: Build → Test → Sonar → Docker
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Test with Coverage
        run: mvn -B verify jacoco:report
        env:
          DB_URL: jdbc:postgresql://localhost:5432/user_service_db_new
          DB_USER: user_service_user
          DB_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

      - name: SonarCloud Analysis
        run: |
          mvn -B sonar:sonar \
            -Dsonar.projectKey=Danil0ss_user-service-internship \
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
            ${{ github.event_name == 'pull_request' && format('-Dsonar.pullrequest.key={0} -Dsonar.pullrequest.branch={1} -Dsonar.pullrequest.base={2}', github.event.pull_request.number, github.event.pull_request.head.ref, github.event.pull_request.base.ref) || '' }}
        env:
          DB_URL: jdbc:postgresql://localhost:5432/user_service_db_new
          DB_USER: user_service_user
          DB_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

      # ────────────────────── DOCKER (только на main) ──────────────────────
      - name: Login to DockerHub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.POSTGRES_PASSWORD }}

      - name: Build & Push Docker image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            danil0ss/user-service:latest
            danil0ss/user-service:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.html_url }}
            org.opencontainers.image.revision=${{ github.sha }}