name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Prepare Docker Environment
        run: |
          # 1. Даем права на сокет
          sudo chmod 666 /var/run/docker.sock
          
          # 2. УДАЛЯЕМ конфиг докера. Это критично!
          # GitHub Actions иногда подсовывает конфиг с 'credsStore', который ломает Testcontainers в Linux.
          rm -f $HOME/.docker/config.json || true
          
          # 3. Проверка
          docker info

      - name: Build and Test
        # Передаем настройки прямо в JVM через флаги -D
        run: >
          mvn -B verify
          -Ddocker.host=unix:///var/run/docker.sock
          -Dtestcontainers.ryuk.disabled=true
          -Djava.net.preferIPv4Stack=true
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

      - name: Login to DockerHub
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            danil0ss/user-service:latest
            danil0ss/user-service:${{ github.sha }}