name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches: [ "*" ]

jobs:
  ci:
    name: Build → Test → Sonar → Docker
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
      checks: write

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user_service_user
          POSTGRES_PASSWORD: user_service_pass
          POSTGRES_DB: user_service_db_new
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U user_service_user"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build
        run: mvn -B compile

      - name: Test
        run: mvn -B test
        env:
          DB_URL: jdbc:postgresql://localhost:5432/user_service_db_new
          DB_USER: user_service_user
          DB_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

      - name: SonarCloud Analysis
        run: |
          mvn -B verify sonar:sonar \
            -Dsonar.projectKey=Danil0ss_user-service-internship \
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
            -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }} \
            -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }}
        env:
          DB_URL: jdbc:postgresql://localhost:5432/user_service_db_new
          DB_USER: user_service_user
          DB_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/user-service:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/user-service:${{ github.sha }}