name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches: [ "*" ]

jobs:
  ci:
    name: Build → Test → Sonar → Docker
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
      checks: write


    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build
        run: mvn -B compile

      - name: Test (Unit & Integration Tests)
        run: mvn -B test

      - name: SonarCloud Analysis
        run: |
          # Для Sonar-анализа требуется полная сборка (verify) и сам анализ.
          # У Sonar есть своя DB, или он не требует ее. 
          # Все необходимые properties для Sonar (Project Key, Token) уже в secrets.
          mvn -B verify sonar:sonar \
            -Dsonar.projectKey=Danil0ss_user-service-internship \
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
            -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }} \
            -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }}
      

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker (Final Artifact)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/user-service:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/user-service:${{ github.sha }}