name: Java CI with Maven, SonarCloud and Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-analyze:
    name: Build, Test, Analyze & Push Docker
    runs-on: ubuntu-latest

    env:
      DB_URL: jdbc:postgresql://localhost:5432/user_service_db_new
      DB_USER: user_service_user
      DB_PASSWORD: user_service_pass

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user_service_user
          POSTGRES_PASSWORD: user_service_pass
          POSTGRES_DB: user_service_db_new
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U user_service_user"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build and run tests
        run: mvn -B verify
        env:
          DB_URL: ${{ env.DB_URL }}
          DB_USER: ${{ env.DB_USER }}
          DB_PASSWORD: ${{ env.DB_PASSWORD }}

      - name: Analyze with SonarCloud
        run: |
          mvn -B verify sonar:sonar \
            -Dsonar.projectKey=Danil0ss_user-service-internship \
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        env:
          DB_URL: ${{ env.DB_URL }}
          DB_USER: ${{ env.DB_USER }}
          DB_PASSWORD: ${{ env.DB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/user-service:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/user-service:${{ github.sha }}